//
// {{ ansible_managed }}
//

{% if apt__proxy is defined %}
{%   if apt__proxy['https']|d(False) %}
Acquire::https::Proxy "https://{{ apt__proxy['host'] }}:{{ apt__proxy['port']|d(3128) }}/";
{%   else %}
Acquire::http::Proxy "http://{{ apt__proxy['host'] }}:{{ apt__proxy['port']|d(3128) }}/";
{%   endif %}
{% endif %}
