{%- import '_macros.j2' as macros with context -%}
//
// {{ ansible_managed }}
//

APT::Periodic::Enable "{{ macros.boolNumeric(apt__periodic_enabled) }}";
APT::Periodic::Verbose "{{ apt__periodic_verbose }}";
